<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <tr>
            <td>Filename: </td>
            <td>
                <span data-th-text="${filename}"></span>
            </td>
        </tr>
        <tr>
            <td>File size: </td>
            <td>
                <span data-th-text="${size}"></span>
            </td>
        </tr>
        <tr>
            <td>Content Type: </td>
            <td>
                <span data-th-text="${contentType}"></span>
            </td>
        </tr>
        <tr>
            <td>Title: </td>
            <td>
                <span data-th-text="${title}"></span>
            </td>
        </tr>
        <tr>
            <td>Content: </td>
            <td>
                <span data-th-text="${content}"></span>
            </td>
        </tr>
        <tr>
            <td>Uploaded post_id: </td>
            <td>
                <span data-th-text="${uploaded_id}"></span>
            </td>
        </tr>
        <tr>
            <td>Pic using GET method: </td>
            <td>
                <img data-th-src="${picture}" width="300px">
            </td>
        </tr>
        <tr>
            <td style="width: 300px; word-wrap: break-word;">Pic using base64 embed method: cannot retrieve byte[] directly. have to convert to base64 if you want to use this method</td>
            <td>
                <img data-th-src="${pic}" width="300px">
            </td>
        </tr>
        <tr>
            <td>
                <img data-th-src="data:image/png;base64, ${pic2}">
                <span data-th-text="${pic2}">text</span>
            </td>
        </tr>
    </table>
    <br>
    <div>
        <button type="button" onclick="history.back()">Back</button>
    </div>
</body>
</html>